body {
    background-color: rgb(129, 248, 129);
}
.one {
    margin-top: 100px;
    margin-left: 200px;    
}
.second {
    margin-top: 100px;
    margin-left: 200px;    
}
.text{
    color:rgb(121, 68, 4)
}